@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 264 14% 15%; /* #25202A */
    --foreground: 0 0% 98%;
    --card: 264 14% 18%;
    --card-foreground: 0 0% 98%;
    --popover: 264 14% 15%;
    --popover-foreground: 0 0% 98%;
    --primary: 265 100% 64%; /* #9345FF */
    --primary-foreground: 0 0% 100%;
    --secondary: 205 100% 84%; /* #AEDDFF */
    --secondary-foreground: 264 14% 15%;
    --muted: 264 10% 25%;
    --muted-foreground: 264 5% 70%;
    --accent: 265 100% 64%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 264 10% 25%;
    --input: 264 10% 25%;
    --ring: 265 100% 64%;
    --radius: 1rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body antialiased selection:bg-primary selection:text-white;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.glass-morphism {
  @apply bg-white/5 backdrop-blur-xl border border-white/10;
}

.text-gradient {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-white via-white to-white/40;
}